<!DOCTYPE HTML>


  <head>
    <meta charset="UTF-8">
    <meta name="description" content="R^2">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>R^2 advanced search</title>
  </head>
  
    <%= render './layouts/nav.html.erb' %>
    <nav1 style = "height: 780px; background-color:#FFFFFF;float: left;width: 20%;margin-bottom: 0;padding-top: 20px;font-size: 20px;color: #041B52;top:0;">
              <h2>FIND</h2>
              <br><br><br><br>
              <br><%= link_to "Facility", facility_path %>
              <br><%= link_to "Size", size_path%>
              <br><%= link_to "Location", location_path%>
              <br><%= link_to "Time", time_path%>
              <button class=btn >Search</button>
              <button class=btn style = background-color:black >clear</button>
  </nav1>



  
  
     <div class="container" style="background-color: red">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
          <%= yield %>
    </div>
  


