<!DOCTYPE HTML>


  <head>
    <meta charset="UTF-8">
    <meta name="description" content="R^2">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>R^2 advanced search</title>
  </head>
  
    <%= render './layouts/nav.html.erb' %>
    <nav1 style = "height: 780px; background-color:#FFFFFF;float: left;width: 20%;margin-bottom: 0;padding-top: 20px;font-size: 20px;color: #041B52;top:0;">
              <h2>FIND</h2>
              <br><br><br><br>
              <br><%= link_to "Facility", facility_path %>
              <br><%= link_to "Size", size_path%>
              <br><%= link_to "Location", location_path%>
              <br><%= link_to "Time", time_path%>
              <button class=btn >Search</button>
              <button class=btn style = background-color:black >clear</button>
  </nav1>

  
  
 



  <main>
          <%= form_tag({:controller => "results", :action => "index"}, method: :get) do %>
          <h1 class="heading">location</h1>

          <%= label_tag(:building_name, "Building") %>
          <%= collection_select :room, :building_name,
          Room.select('DISTINCT building_name'),
          :building_name, :building_name, {include_blank: 'Any'} %>
          
           <!--to implement later on, idk how to merge the data together
          <div class="heading">Reservation Period</div>-->
          
          <br>
          <%= label_tag(:startdate, "Start Date") %>
          <%= date_field(:booking, :startdate, value: Date.today) %>
          
          <br>
          <%= label_tag(:starttime, "Start Time") %>
          <%= time_field(:booking, :starttime, value: "00:00") %>
          
          <br>
          <%= label_tag(:enddate, "End Date") %>
          <%= date_field(:booking, :enddate, value: Date.today) %>
          
          <br>
          <%= label_tag(:endtime, "End Time") %>
          <%= time_field(:booking, :endtime, value: "23:59") %>
          <%= submit_tag 'Search' %>
        <% end %>
    </main>
  
     <div class="container" style="background-color: red">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
          <%= yield %>
    </div>